@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root{
    --maincolor: #c96333;
    --border: .1rem solid rgba(56, 55, 54, 0.1);
    --box-shadow: 0 .5rem 1rem #c96333;
    --shadow: .3rem .3rem .6rem #c2ac9e;
    --shadow1: 0 .2rem .4rem #c2ac9e;
    --radius: .5rem;
    --text: #292929;
    --lightText: rgb(255, 241, 213);
    --bg: rgba(244, 247, 218, 0.95);
    --hover: #ef9e7871;
    --section-bg: #864f35;
}
*{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: 0;
    outline: none;
    transition: all 1s ease-out;
}
body{
    margin: 0;
    padding: 0;
    height: 100vh;
}
html{
    scroll-behavior: smooth;
}
*::selection{
    background: var(--maincolor);
    color: var(--lightText);
}
html::-webkit-scrollbar{
    width: 1.2rem;
}
html::-webkit-scrollbar-track{
    background: black;
}
html::-webkit-scrollbar-thumb{
    background: var(--maincolor);
    border-radius: .7rem;
}
.btn {
    text-decoration: none;
    padding: .8rem 1.8rem;
    background: var(--bg);
    color: var(--text);
    font-weight: bolder;
    border-radius: 1rem;
    font-size: 1.3rem;
    font-weight: bolder;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.btn::after {
    content: "";
    position: absolute;
    bottom: 0; /* Līnija pozīcija uz apakšas */
    left: 50%; /* Sākumā līnija ir centrā */
    width: 0; /* Sākumā līnija ir neredzama */
    height: 2px; /* Līnijas augstums */
    background-color: var(--lightText); /* Līnijas krāsa */
    transition: width 0.6s ease, left 0.6s ease; /* Pārejas efekti */
}

.btn:hover::after {
    width: 100%; /* Līnija paplašinās līdz 100% */
    left: 0; /* Līnija pārvietojas uz kreiso malu */
}

.btn:hover{
    background-color: var(--hover);
}
h1{
    font-size: 4.5rem;
    color: var(--lightText);
    padding: 1rem 0;
    font-weight: bold;
    line-height: 1.5;
}

h2 {
    font-size: 2.8rem;
    color: var(--text);
    padding: 1.5rem 0;
    font-weight: bold;
    text-transform: uppercase;
}
h3{
    font-size: 2rem;
    color: var(--text);
    padding: 1rem 0;
    font-weight: bold;
}

p{
    font-size: 1.3rem;
    color: var(--text);
    padding: 1rem 0;
    line-height: 1.2;
}
img{
    object-fit: cover;
    width: 100%;
    display: block;
}

aside .user{
    padding: 1.5rem 1rem;
    text-align: center;

}
.logout{
    padding: .5rem 0;
    font-size: 1.3rem;
}
.logout a{
    display: inline-block;
    background: none;
    padding: 0;
}

.logout i{
    padding: 0 .5rem;
    color: var(--text);
    font-size: 1.2rem;
    background: var(--bg);
    padding: .5rem;
    border-radius: var(--radius);
}

.logout i:hover{
    background-color: var(--hover);
}

aside .current {
    background-color: var(--hover);
    letter-spacing: .1rem;
    font-weight: bold;
}
.user{
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.user .profile{
    max-width: 6rem;
    max-height: 6rem;
    border-radius: 50%;
    border: 2px solid var(--maincolor);
    object-fit: cover;
    aspect-ratio: 1/1;
    align-self: center;
}
.user .btn{
    font-size: 1rem;
    padding: .3rem .5rem;
}

.user .btn:hover{
    font-weight: bold;
    background-color: var(--bg);
}

.user .btn::after{
    background-color: var(--maincolor); /* Līnijas krāsa */
}

.logout{
    padding: 0;
}
.aside{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    background-color: #fff;
    height: 100%; 
    box-shadow: var(--box-shadow);
}
.aside h1{
    font-size: 1.8rem;
    color: var(--text);
    padding: 1.1rem;
    background: var(--bg);
    text-align: center;
}
aside{
    padding: 0 2rem;
} 
.aside .user{
    padding-bottom: .5rem;
}

nav a{
    display: block;
    border-radius: var(--radius);
    font-size: 1.2rem;
    margin: 1rem 0;
    padding: 1rem;
    text-decoration: none;
}

nav a:hover{
    letter-spacing: .05rem;
}

.main-container{
    margin-left: 20%;
    padding: 7rem 3%;
}

.svariga-info{
    margin-left: 20%;
    font-size: 1.2rem;
    font-weight: bolder;
    font-style: italic;
    text-align: center;
    background-color: var(--section-bg);
    /* background-color: var(--maincolor); */
    color: var(--lightText);
    position: absolute;
    top: 0;
    max-width: 80%;
    width: 100%;
 }

/* 
//IESTATIJUMI */
.edit-container{
    display: flex;
    width: 100%;
    gap: 1.5rem;
}
.profile-box{
    width: 35%;
    box-shadow: var(--shadow1);
    /* background: var(--lightText); */
    background: #fff9f7;
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;  
}
.profile-box .image{
   position: relative;
}
.profile-box .image img{
    max-width: 100%;
    max-height: 15rem;
    object-fit: cover;
    border-radius: 50%;
    aspect-ratio: 1/1;
    border: 2px solid var(--maincolor);
}
.profile-box i{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1.7rem 1rem;
    padding: .4rem .5rem;
    border-radius: 50%;
    color: var(--lightText);
    background: var(--maincolor);
    font-size: 1.3rem;
}
.profile-box i:hover{
    color: var(--text);
    background: var(--lightText);
}
.profile-box span{
    font-style: italic;
    color: var(--maincolor);
}
.change-info{
    width: 100%;
    box-shadow: var(--shadow1);
    background: #fff9f7;
}
.change-info .head{
    background: var(--hover);
    padding-left: 2rem;
}
.change-info .head h3{
    font-style: italic;
}
.form{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.form input {
    padding: 0.3rem .7rem;
    border: 1px solid var(--maincolor);
    border-radius: 1rem;
    background-color: #fff8f8c7;
    font-size: 1.1rem;
}
.user-info-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-group label {
    font-weight: 600;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    color: var(--text);
}

.form-group input {
    padding: 0.8rem 1rem;
    border: 1px solid var(--maincolor);
    border-radius: 1rem;
    background-color: #fff8f8c7;
    font-size: 1.3rem;
}

.form-group input:focus, .form input:focus  {
    background-color: #fff;
    box-shadow: 0 0 0 2px rgba(170, 104, 82, 0.2);
}
.name-group{
    display: flex;
    gap: 1.5rem;
}

.main-button, #passwordForm button {
    background-color: var(--maincolor);
    color: var(--lightText);
    padding: 0.8rem 1.5rem;
    border-radius: 2rem;
    font-weight: bold;
    font-size: 1.2rem;
    position: relative;
}
.main-button:hover, #passwordForm button:hover{
    background: transparent;
    border: 1px solid var(--maincolor);
    color: var(--maincolor);
}

.secondary-button, .submit{
    background-color: transparent;
    color: var(--maincolor);
    border: 1px solid var(--maincolor);
    padding: 0.6rem 1.2rem;
    border-radius: 1.5rem;
    font-size: 1.1rem;
    position: relative;
}

.secondary-button:hover, .submit:hover {
    background-color: var(--maincolor);
    color: white;
}

.delete-button {
    background-color: transparent;
    color: #a42a1d;
    border: 1px solid #c0392b;
    padding: 0.6rem 1.2rem;
    border-radius: 1.5rem;
    font-size: 1.1rem;
    position: relative;
}

.delete-button:hover {
    background-color: #a63326;
    color: var(--lightText);
}

.buttons-bottom {
    display: flex;
    margin-top: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
}


.notif{
    font-size: 1.4rem;
    text-align: center;
    margin: 1rem 0;
    font-weight: bolder;
  }

  .notifikacija.success {
    background: #4caf50;
}

.notifikacija.error {
    background: #a11d14;
}

  .notifikacija {
    position: fixed;
    top: 20px;
    right: 20px;
    /* background: #4caf50; */
    color: var(--lightText);
    padding: 1.2rem 1.7rem;
    border-radius: var(--radius);
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    z-index: 5;
    opacity: 0;
    font-size: 1.3rem;
    transition: opacity 0.5s ease;
}

.notifikacija.show {
    opacity: 1;
}

.hidden {
    display: none;
}

.closeNotif {
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 1rem;
    cursor: pointer;
    color: var(--lightText)
    padding: 0 .4rem;
    border-radius: var(--radius);
    font-weight: bold;
}

.closeNotif:hover {
    color: var(--text);
}

    .form-notif{
      background: #990000;
      color: var(--lightText);
      border-radius: .5rem;
      text-align: center;
      margin: 1rem 0;
  }



/*
TABULAS
*/
.admin-main{
    background: #fffdfc;
    box-shadow: var(--shadow1);
    border-radius: var(--radius);
    margin: 6rem 2% 2rem 22%;
}
.kategorijas{
    display: flex;
    gap: 1.5rem;
    align-items: flex-start;
    
}
.produkta-info{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 1.5rem;
    margin-top: .5rem;
    background: #fffdfc;
    box-shadow: var(--shadow1);
    border-radius: var(--radius);
    overflow: hidden;
}
.produkta-info p{
    background-color: var(--hover);
    font-weight: bolder;
    font-style: italic;
    font-size: 1.4rem;
    padding: 1rem;
    text-align: center;

}

table{
    width: 100%;
    font-size: 1rem;
    border-collapse: none;
    border-spacing: 0 .5rem;
}

tr{
    background: #fff9f7;
}

th{
    background: var(--maincolor);
    color: var(--lightText);
    padding: 1rem .5rem;
    text-align: left;
    font-weight: bolder;
}
td{
     border-top: 1px solid rgba(201, 99, 51, 0.148);;
    padding: 1rem .5rem;
    font-weight: 600;
}

.admin-main table img{
    max-width: 7rem;
    max-height: 5rem;
    height: 100%;
    object-fit: cover;
 }

.produkts-item, .lietotajs-item, .kategorija-item, .pasutijums-item, .atsauksme-item{
    background: #7fec7f;
    color: #fff;
    cursor: pointer;
    border-radius: var(--radius);
    font-size: 1rem;
    margin: 0 .3rem;
    padding: .5rem 1rem;
}

.produkts-item:hover, .lietotajs-item:hover, .kategorija-item:hover, .pasutijums-item:hover, .atsauksme-item:hover{
    background: var(--bg);
    color: #71e771;
}

.produkts-delete, .lietotajs-delete, .kategorija-delete{
    background: #d33f3f;
    color: #fff;
    cursor: pointer;
    border-radius: var(--radius);
    font-size: 1rem;
    margin: 0 .3rem;
    padding: .5rem 1rem;
}
.produkts-delete:hover, .lietotajs-delete:hover, .kategorija-delete:hover{
    background: var(--bg);
    color: #8a2121;
}

.top{
    display: flex;
    justify-content: right;
    padding: 1rem 1rem .5rem;
}

.top-panel{
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem .5rem;
    align-items: center;
    gap: 1rem;
}
.top-panel h3{
    padding: 0;
}
.top-panel span{
    text-shadow: 
        1px 2px 7px rgb(201, 99, 51), 
        0 0 20px rgba(202, 71, 11, 0.879);
    text-transform: none;
    font-weight: 700;
}

 #searchField input{
    font-size: 1.3rem;
    color: var(--text);
    padding: .6rem 1.2rem;
    text-align: left;
    border-radius: var(--radius);
    background-color: rgba(249, 242, 237, 0.683); 
    border: 2px solid var(--hover);
    width: 20rem;
}
 #searchField input:focus{
    background: rgba(255, 255, 255, 0.6);
    color: var(--text);
}
#searchField {
    position: relative;
    display: flex;
    align-items: center;
}
 #searchField i {
    position: absolute;
    right: 1.5rem;
    color: var(--maincolor);
    font-size: 1.2rem;
}

.status-paid {
  color: rgb(14, 114, 14);
  font-weight: bolder;
}
#orders{
    position: relative;
}
.redInfo {
  position: absolute;
  top: 25%;
  right: 0;
  padding: .3rem .6rem;
  background-color: #750808;
  margin: 0 .7rem;
  color: var(--lightText);
  font-weight: bold;
  border-radius: 50%;
  font-size: 1.1rem;
  animation: pulse-bg 2s infinite ease-in-out;
}

@keyframes pulse-bg {
  0% {
    background-color: #750808;
  }
  50% {
    background-color: #cc1d1d;
  }
  100% {
    background-color: #750808;
  }
}

/*MODĀLIE LOGI*/
.modal{
    position: fixed;
    background: rgba(0,0,0,70%);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    display: none;
    justify-content: center;
    align-items: center;
 }
 
 .modal.modal-active{
     display: flex;
 }
 
.modal-box::-webkit-scrollbar{
    width: .5rem;
}
.modal-box::-webkit-scrollbar-track{
    background: black;
}
.modal-box::-webkit-scrollbar-thumb{
    background: var(--maincolor);
    border-radius: .7rem;
}

 .modal-box{
    background: #fefefe;
    max-width: 40rem;
    max-height: 40rem; 
    overflow-y: auto;  
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    position: relative;
 }
 .box{
    padding: 1rem 1.5rem;
 }
 
 .modal .close-modal{
     position: absolute;
     top: .5rem;
     right: .5rem;
     background: var(--maincolor);
     padding: .3rem .5rem;
     color: var(--lightText);
     font-size: .7rem;
     border-radius: .5rem;
     cursor: pointer;
 }
 
 .modal .close-modal:hover{
     background-color: var(--section-bg);
 }
 .modal h3{
     text-align: center;
     font-size: 1.8rem;
     background-color: var(--section-bg);
     color: var(--lightText);
     padding: .5rem 0;
 }
 .formElements{
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    max-width: 50rem;
    gap: .5rem;
    width: 100%;
}
label{
    font-size: 1.2rem;
    font-weight: bolder;
}
.modal input, .modal textarea, .modal select{
    width: 100%;
    border-radius: var(--radius);
    padding: .5rem .8rem;
    background: #fff8f8c7;
    box-shadow: var(--shadow1);
    color: var(--text);
    margin: .4rem 0;
    font-size: 1.1rem;
    resize: none;
}
.modal textarea{
    height: 7rem;
}
.modal input:focus, .modal textarea:focus, .modal select:focus{
    background: var(--bg);
}

.modal .bottom-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal .bottom-info p{
    font-size: .9rem;
    font-weight: bolder;
    padding: 0;
    margin-top: 2rem;
}
.modal .btn{
    border-radius: 2rem;
    padding: .6rem 1.5rem;
    box-shadow: var(--shadow1);
}
.modal form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}
#modal-produkti .modal-box, #modal-lietotaji .modal-box, #modal-pasutijumi .modal-box, #modal-atsauksmes .modal-box{
    min-width: 40rem;
}
#preview-container img{
    width: 100px;
    height: 100px;
    display: none;
    object-fit: cover; 
    border-radius: 8px;
}

.modal .passwordNew{
    font-size: 1rem;
    padding: .4rem .8rem;
}

#modal-atsauksmes .modal-box textarea{
    height: 9rem;
}

.produktu-tabula {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
  box-shadow: var(--shadow1);
  border: var(--border);
  background-color: var(--bg);
  border-radius: var(--radius);
  overflow: hidden;
}

.produktu-tabula th,
.produktu-tabula td {
  padding: 0.8rem 1rem;
  text-align: left;
  border-bottom: var(--border);
  color: var(--text);
}

.produktu-tabula th {
  background-color: var(--section-bg);
  color: var(--lightText);
}

.produktu-tabula tr:hover {
  background-color: var(--hover);
}

.modal .paid{
    font-weight: bolder;
    font-style: italic;
    color: rgb(14, 114, 14);
    font-size: 1.2rem;
    width: 100%;
}
.not-paid{
    color: rgb(147, 20, 20);
    font-weight: bolder;
    font-size: 1.2rem;
    width: 100%;
}

 .admin-footer img{
    max-width: 5rem;
 }
 .admin-footer .container{
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: space-between;
 }
 .admin-footer{
    padding: .6rem 2%;
    margin-left: 20%;
    background: var(--section-bg);
 }
 .admin-footer p{
    font-weight: bolder;
    color: var(--bg);
    font-size: 1.2rem;
 }
 .admin-footer a{
    color: var(--bg);
    position: relative;
    padding-bottom: .4rem;
    font-weight: bolder;
    font-size: 1.1rem;
    margin-top: .4rem;
 }
 .admin-footer a::after{
    content: "";
    position: absolute;
    bottom: 0; 
    left: 50%; 
    width: 0;
    height: 2px; 
    background-color: var(--bg); 
    transition: all 0.3s ease; 
    transform: translateX(-50%);
 }
 .admin-footer a:hover::after{
     width: 100%; 
 }

 .infoBoxReviews{
    padding: 1rem;
    box-shadow: var(--shadow);
    border: 1px solid var(--hover);
    border-radius: var(--radius);
    display: flex;
    gap: 1.5rem;
    align-items: center;
 }
 .infoBoxReviews h2, .infoBoxCount h2{
    padding: 0;
     text-shadow: 
        1px 2px 7px rgb(201, 99, 51), 
        0 0 20px rgba(202, 71, 11, 0.879);
 }

 .infoBoxReviews i{
    font-size: 2.1rem;
    color: var(--maincolor);
    padding: .7rem .6rem;
    border-radius: 50%;
    border: 1px solid var(--bg);
    background-color: var(--hover);
 }
 .infoBoxCount{
    padding: 1rem;
    box-shadow: var(--shadow);
    border: 1px solid var(--hover);
    border-radius: var(--radius);
 }
 .infoBoxCount .block{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
.infoBoxCount p{
    font-size: 1.7;
    color: var(--maincolor);
}
.infoBlockReview{
    padding: 1rem;
    box-shadow: var(--shadow);
    border: 1px solid var(--hover);
    border-radius: var(--radius);
    max-width: 40rem;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.infoBlockReview p{
     font-size: 1.4rem;
    font-weight: bolder;
}
.infoBlockReview i{
    font-size: 2rem;
     text-shadow: 
        1px 2px 7px rgb(201, 99, 51), 
        0 0 20px rgba(202, 71, 11, 0.879);
}
.infoBlockReview q{
    font-weight: bold;
}
.longer{
    max-width: 15rem;
}
.admin-main table img.cropped, .columns img {
    width: 5rem !important;
    height: 5rem !important;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid var(--maincolor);
}

.wrapper{
    margin: 4rem 2rem 2rem 20%;
}

.top{
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}
.info-box{
    width: 100%;
    box-shadow: var(--shadow1);
    border-radius: var(--radius);
    border: 1px solid var(--hover);
}


.box1 {
    color: var(--text); 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row; 
    justify-content: space-around;
    height: 8rem; 
    position: relative;
    border-radius: .4rem .4rem 0 0 ;
}
.info .modified {
    font-size: 2.5rem;
    text-shadow: 
        1px 2px 7px rgb(201, 99, 51), 
        0 0 20px rgba(202, 71, 11, 0.879);
    padding: 0;
}
.info h3 {
    font-size: 1.2rem;
    padding-top: .3rem;
    padding-bottom: 0;;
}
.icona {
    display: flex;
    align-items: center;
    justify-content: center; 
    font-size: 3rem;
}
.box2{
    display: flex;
    align-items: center;
    justify-content: center; 
    background: var(--maincolor); 
    padding: .7rem 0;
    border-radius: 0 0 .4rem .4rem;
    position: relative;
}

.box2 a {
    text-decoration: none; 
    font-size: 1.2rem;
    font-weight: 700; 
    color: var(--bg);
}
.box2::after {
    content: "";
    position: absolute;
    bottom: 0; 
    left: 50%; 
    width: 0;
    height: 2px; 
    background-color: var(--bg); 
    transition: all 0.3s ease; 
    transform: translateX(-50%);
}

.box2:hover::after {
    width: 100%; 
}
.columns{
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
    margin: 0 2rem 3rem 2rem;
}
.block{
    width: 100%;
}
.columns .block table{
    border-radius: var(--radius);
}
.divider{
    height: 2px;
    background-image: radial-gradient(rgba(14, 23, 51, 0.418), #ffffff00);
    margin: 2.5rem 0 1rem 0;
}
.modif{
    gap: 1.5rem;
    margin-bottom: 3rem;
}
.modif .info-box, .row .info-box{
    text-align: center;
}
.modif .info-box h3, .row h3{
    padding: .5rem 0;
    text-shadow: 
        1px 2px 7px rgb(201, 99, 51), 
        0 0 20px rgba(202, 71, 11, 0.879);
}
.modif .info-box h4, .row h4{
    font-size: 1.5rem;
    padding: .5rem 0;
}
.modif .info-box span{
    background: var(--hover);
    border-radius: 1rem;
    padding: 0 .7rem;
    font-weight: 600;
}
.row {
    display: flex;
    flex-wrap: wrap; /* разрешаем перенос */
    justify-content: center;
    gap: 1.5rem;
    margin-top: 2rem;
}

.row .info-box {
    flex: 0 1 330px; /* базовое поведение */
}

/* только последний блок переносится на новую строку */
.row .info-box:last-child {
    flex-basis: 330px; /* занимает всю ширину и уходит на новую строку */
    text-align: center; /* выравнивание по центру */
}

.row h3{
    font-size: 2.3rem;
    padding: 0 0 .5rem 0;
}
.columns table td{
    padding: .5rem;
}