@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root{
    --maincolor: #c96333;
    --border: .1rem solid rgba(56, 55, 54, 0.1);
    --box-shadow: 0 .5rem 1rem #c96333;
    --shadow: .3rem .2rem .5rem #d7cdbc;
    --radius: .5rem;
    --text: #292929;
    --lightText: rgb(252, 237, 206);
    --bg: #f4f7dad1;
    --hover: rgba(239, 157, 120, 0.447);
}
*{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: 0;
    outline: none;
    transition: all 1s ease-out;
}

body{
    margin: 0;
    padding: 0;
    background-image: url(/images/body-bg.jpg);
    background-repeat: repeat;
    background-color: rgba(0, 0, 0, 0.308);
    background-size: cover;
    position: inherit;
    height: 100vh;
    background-attachment: fixed;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background: var(--bg);
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2%;
    height: 6.2rem;
    transition: top 0.3s;
    overflow: hidden;
}

.btn {
    text-decoration: none;
    padding: 1rem 2rem;
    background: var(--bg);
    color: var(--text);
    font-weight: bolder;
    border-radius: 1rem;
    font-size: 1.3rem;
    font-weight: bolder;
    margin: 2rem;
    cursor: pointer;
    overflow: hidden;
}

.btn::after {
    content: "";
    position: absolute;
    bottom: 0; /* Līnija pozīcija uz apakšas */
    left: 50%; /* Sākumā līnija ir centrā */
    width: 0; /* Sākumā līnija ir neredzama */
    height: 2px; /* Līnijas augstums */
    background-color: var(--lightText); /* Līnijas krāsa */
    transition: width 0.6s ease, left 0.6s ease; /* Pārejas efekti */
}

.btn:hover::after {
    width: 100%; /* Līnija paplašinās līdz 100% */
    left: 0; /* Līnija pārvietojas uz kreiso malu */
}

.btn:hover{
    background-color: var(--hover);
    color: var(--lightText);
}

h1{
    font-size: 4.5rem;
    color: var(--lightText);
    padding: 1rem 0;
    font-weight: bold;
    line-height: 1.5;
}

h2 {
    font-size: 3rem;
    color: var(--text);
    padding: 1rem 0;
    font-weight: bold;
}
h3{
    font-size: 2rem;
    color: var(--text);
    padding: 1rem 0;
    font-weight: bold;
}

p{
    font-size: 1.3rem;
    color: var(--text);
    padding: 1rem 0;
    line-height: 1.2;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

header .current {
    font-weight: bold;
    background: var(--maincolor);
    color: #eee;
}

nav a {
    font-size: 1.3rem;
    color: var(--text);
    padding: 2.2rem 1rem;
    text-align: center;
    margin: 0;
}

nav a:hover {
    background-color: var(--hover);
    font-weight: bold;
    color: var(--text);
}

header img {
    width: 9rem;
    height: 9rem;
    object-fit: cover;
}

.navigacija {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

header .button {
    display: flex;
    justify-content: flex-end;
}

section{
    padding: 1.5rem 0;

}
.main-container{
    margin: 0 9%;
    padding: 0;
}

#hero .main-container{
    background-color: rgba(0, 0, 0, 0.5);
 }

 #hero {
    margin-top: 6.15rem;
    padding: 0;
    background-image: url('/images/bg-image-hero.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
 #hero h1{
    width: 65%;
    color: var(--lightText);
    padding: 4rem 2rem;
    line-height: 1.5;
    font-weight: 600;
}
#hero h2 {
    color: var(--lightText);
    padding: 1.5rem 2rem 0 2rem;
    font-weight: 500;
    text-shadow: 
        1px 3px 10px #c96333, 
        0 0 30px rgba(239, 157, 120, 0.6);
}

#hero p{
    font-size: 1.5rem;
    color: var(--lightText);
    padding: 0 0 0 2rem;
}
#hero .btn{
    margin: 2rem 0 3rem 2rem;
}

#hero p i {
    transition: transform 0.6s ease, color 0.5s ease;
}

#hero p i:hover {
    transform: scale(1.2); /* Zvaigzne palielinās */
    color: #ffd900; /* Maina krāsu uz zelta */
}

/* Sākuma stāvoklis visiem tekstiem - neredzami */
#hero h2, #hero p, #hero h1, #hero button{
    opacity: 0;
    transform: translateY(40px); /* Nolaiž uz leju, lai radītu parādīšanās efektu */
    transition: opacity 1s ease, transform 1s ease, all 1s ease-out;
}

/* Parādīšanās animācijas atsevišķiem elementiem */
#hero.in-view h2 {
    animation: fadeInUp 1s ease forwards;
}

#hero.in-view p:nth-of-type(1) {
    animation: fadeInUp 1.7s ease forwards;
}

#hero.in-view h1 {
    animation: fadeInUp 2.4s ease forwards;
}

#hero.in-view p:nth-of-type(2) {
    animation: fadeInUp 3.1s ease forwards;
}

#hero.in-view .btn {
    animation: fadeInUp 3.8s ease forwards;
}


#kvalitate .main-container{
    position: relative; 
    overflow: hidden; 
    height: 200px /* Adjust height to fit content */
}

#kvalitate .kval-boxes{
    display: flex;
    justify-content: space-around;
    white-space: nowrap; 
    position: absolute;
    animation: scroll 20s linear infinite;
    width: 100%;
}

#kvalitate .kval-box{
    text-align: center;
    display: inline-block;
}

#kvalitate h2{
    padding-bottom: 0;
    font-weight: 800;
}
#kvalitate p{
    padding-top: 0;
    font-weight:bolder;
}
@keyframes scroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.divider{
    height: 3px;
    background-image: radial-gradient(rgba(14, 23, 51, 0.45), #fff);
}

#jaunakie-pied .headings{
    display: flex;
    justify-content: space-between;
}



/* Keyframes animācijām */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


/* ANIMĀCIJA */
 .animate {
    opacity: 0;
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    will-change: opacity, transform;
}

.animate.visible {
    animation: slideInUp 0.6s forwards;
}